.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.history/14/b05a5c44b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/1d/10d419b7b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/21/e0f7f898b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/22/10a0aadbb32c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/24/b0de7ae2b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/2d/308566b2b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/2e/900012a4b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/30/e01dadf6b62c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/36/00f1d3a4b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/3a/c0ac10c9b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/43/70953e02b82c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/44/f0138793b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/4b/900bc789b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/58/a09e6059b02c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/5e/5068f39ab72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/63/10abffb8b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/7/70e89da0b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/72/b03cd155b82c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/7b/50fe3850b32c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/83/a0b5c4b3b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/87/00433925b22c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/90/803e7012b82c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/9d/3039067fb02c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/9d/d0b36fc1b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/ac/20f05b94b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/b4/70d06a3bb82c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/b8/60c0f66bb72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/c/60567908b22c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/c0/00bca9a9b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/c1/80b7830eb72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/c5/f0018a34b22c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/db/10b751c3b32c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/e2/10253e57b62c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/e3/209e570db82c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/f3/204af3a2b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/f9/80e29c14b82c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/fb/900f7db1b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/fc/5008b692b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/fc/c00220d2b72c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.history/ff/e041c054b82c00171ee5928522706860
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Exercise/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Exercise.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.jdt.core/1067258947.index
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1315525803.index
.metadata/.plugins/org.eclipse.jdt.core/1384487945.index
.metadata/.plugins/org.eclipse.jdt.core/156905802.index
.metadata/.plugins/org.eclipse.jdt.core/1753319412.index
.metadata/.plugins/org.eclipse.jdt.core/1819685514.index
.metadata/.plugins/org.eclipse.jdt.core/1833648217.index
.metadata/.plugins/org.eclipse.jdt.core/1969767409.index
.metadata/.plugins/org.eclipse.jdt.core/2312057343.index
.metadata/.plugins/org.eclipse.jdt.core/2363563081.index
.metadata/.plugins/org.eclipse.jdt.core/2545238116.index
.metadata/.plugins/org.eclipse.jdt.core/2634225966.index
.metadata/.plugins/org.eclipse.jdt.core/2867016645.index
.metadata/.plugins/org.eclipse.jdt.core/3131291862.index
.metadata/.plugins/org.eclipse.jdt.core/3266567714.index
.metadata/.plugins/org.eclipse.jdt.core/3302703152.index
.metadata/.plugins/org.eclipse.jdt.core/3321539481.index
.metadata/.plugins/org.eclipse.jdt.core/3670248649.index
.metadata/.plugins/org.eclipse.jdt.core/3712507179.index
.metadata/.plugins/org.eclipse.jdt.core/3735975305.index
.metadata/.plugins/org.eclipse.jdt.core/3767115374.index
.metadata/.plugins/org.eclipse.jdt.core/4036230714.index
.metadata/.plugins/org.eclipse.jdt.core/404199878.index
.metadata/.plugins/org.eclipse.jdt.core/4238018145.index
.metadata/.plugins/org.eclipse.jdt.core/506999199.index
.metadata/.plugins/org.eclipse.jdt.core/521061135.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_k.fdt
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_k.fdx
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_k.fnm
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_k.frq
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_k.nrm
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_k.prx
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_k.tii
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_k.tis
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_l.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_m.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_n.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_o.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_p.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_q.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/_r.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/segments.gen
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/segments_r
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/Exercise/write.lock
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
Exercise/.project
Exercise/bin/.gitignore
Exercise/bin/BangCuuChuong.class
Exercise/bin/CanBacBa.class
Exercise/bin/Exercise2.class
Exercise/bin/Exercise3.class
Exercise/bin/In12Hen.class
Exercise/bin/inRaDaySoNguyenTo.class
Exercise/bin/inRaGiaiThua.class
Exercise/bin/InRaSoNgayCuaThang.class
Exercise/bin/inSoTrongChuoiKiTu.class
Exercise/bin/MuBa.class
Exercise/bin/NguyenAmPhuAm.class
Exercise/bin/SoChanLe.class
Exercise/bin/SoNguyenTo.class
